attrs==23.1.0
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
contourpy==1.1.1
cycler==0.12.1
Deprecated==1.2.14
elkai==2.0.1
fiona==1.9.5
fonttools==4.46.0
geopandas==0.13.2
gurobipy==10.0.0
idna==3.6
importlib-metadata==7.0.0
importlib-resources==6.1.1
kiwisolver==1.4.5
matplotlib==3.7.4
networkx==2.8.8
numpy==1.24.4
osmnx==1.8.0
packaging==23.2
pandas==2.0.3
Pillow==10.1.0
pygame==2.1.2
pyglet==2.0.0
pyparsing==3.1.1
pyproj==3.5.0
python-dateutil==2.8.2
python-tsp==0.4.0
pytz==2023.3.post1
requests==2.31.0
shapely==2.0.2
six==1.16.0
tabulate==0.8.10
tqdm==4.66.1
tsplib95==0.7.1
tzdata==2023.3
urllib3==2.1.0
wrapt==1.16.0
zipp==3.17.0
